<div fxLayout="column" fxLayoutAlign="space-around center">
  <form class="form-width">
    <!-- Configuration of clouds -->
    <div class="node-warn-header">
      <h2 class="node-title">Number of cloud nodes: {{numOfClouds}}</h2>
      <span class="warn-chip" *ngIf="quantityCounterService.getUndividedClouds() && quantityCounterService.getUndividedClouds() > 0">
        Number of cloud nodes to configure: {{quantityCounterService.getUndividedClouds()}}
      </span>
    </div>
    <ng-container *ngFor="let cloud of configurationService.computingNodes.clouds | keyvalue">
      <app-configurable-node
        [node]="cloud.value"
        [resources]="resourceSelectionService.resources$ | async"
        (setComputingNode)="saveComputingNode($event)"
        (removeEmitter)="removeTypeOfNodes($event)"
      ></app-configurable-node>
    </ng-container>
    <div class="plus-container">
      <div [ngClass]="{'plus-wrapper-disabled': quantityCounterService.getUndividedClouds() ===0}"
        class="plus-wrapper"
        (click)="addCloud()">
        <i class="fas fa-plus fa-3x plus-icon"></i>
      </div>
    </div>
    <mat-divider *ngIf="quantityCounterService.numOfFogs > 0" class="nodeType-divider"></mat-divider>
    <!-- Configuration of fogs -->
    <div class="node-warn-header">
      <h2 *ngIf="quantityCounterService.numOfFogs > 0">Number of fog nodes: {{numOfFogs}}</h2>
      <span class="warn-chip"*ngIf="quantityCounterService.getUndividedFogs() && quantityCounterService.getUndividedFogs() > 0">
        Number of fog nodes to configure: {{quantityCounterService.getUndividedFogs()}}
      </span>
    </div>
    <ng-container *ngFor="let fog of configurationService.computingNodes.fogs | keyvalue">
      <app-configurable-node
        [node]="fog.value"
        [resources]="resourceSelectionService.resources$ | async"
        (setComputingNode)="saveComputingNode($event)"
        (removeEmitter)="removeTypeOfNodes($event)"
      ></app-configurable-node>
    </ng-container>
    <div class="plus-container">
      <div *ngIf="quantityCounterService.numOfFogs > 0"
        [ngClass]="{'plus-wrapper-disabled': quantityCounterService.getUndividedFogs() ===0}"
        (click)="addFog()"
        class="plus-wrapper">
        <i class="fas fa-plus fa-3x plus-icon"></i>
      </div>
    </div>
    <!-- Actions -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%" class="action-toolbar">
      <button mat-raised-button matStepperPrevious color="accent">Back</button>
      <button [disabled]="!readyToSave" mat-raised-button color="primary" (click)="checkReadyAndNext()">
        Next
      </button>
    </div>
  </form>
</div>
