.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
    box-sizing: border-box;

    &.small {
        height: 30px;
    }

    &.normal {
        height: 48px;
    }
}

:host {
    width: 100%;
    display: block;
}