
.header{
  background: #6ce14f;
  display: flex;
}

.title{
  flex:1;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
}

.content{
  padding: 1rem;
}