<div class="instance-container" *ngFor="let instance of instances">
    <app-configurable-instance 
        (instanceEmitter)="getInstanceFromEmitter($event)"
        (removeEmitter)="removeInstance($event)" 
        [instance]="instance"></app-configurable-instance>
</div>
<div class="main-actions">
    <button mat-raised-button matStepperPrevious color="accent" >Back</button>
    <div class="plus-wrapper" (click)="addInstance()">
        <i class="fas fa-plus fa-2x plus-icon"></i>
    </div>
    <button mat-raised-button [disabled]="!isValidConfiguration" color="primary" (click)="checkReadyAndNext()">Next</button>
</div>