<div class="main-content" style="width: 100vw;">
    <app-toolbar class="border-bottom">
        <div start style="display: flex; gap: 8px; align-items: center; padding-left: 16px;">
            <span class="title">DISSECT-CF-Fog Predictor UI</span>
        </div>
    </app-toolbar>

    <form [formGroup]="form" class="page-content">
        <div class="output" style="width: 100vw;">
            <app-toolbar class="border-bottom">
                <div start
                    style="display: flex; gap: 8px; align-items: center; justify-content: left; padding-left: 8px;">
                    <app-button-icon color="normal" icon="fa fa-chevron-left" (click)="onPrevPrediction()"></app-button-icon>
                    <app-button-icon color="normal" icon="fa fa-chevron-right" (click)="onNextPrediction()"></app-button-icon>
                    <span>{{ currentPredictionIndex + 1 }} / {{ predictions.size }} prediction</span>
                    <div *ngIf="predictionIndexMoved" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 8px;">
                        <div style="transform: scale(0.5)">●</div>
                        <app-button color="normal" (click)="onCurrentPrediction()"
                        >Show current</app-button>
                    </div>
                    <div style="transform: scale(0.5)">●</div>
                    <div>
                        <i class="fa fa-clock" style="margin-right: 8px;"></i>
                        <span>{{ this.stopWatch.getFormatedTime() }}</span>
                    </div>
                </div>
                <div end style="padding-right: 16px;">

                </div>
            </app-toolbar>
            <app-toolbar class="border-bottom">
                <div start style="width: 100%;">
                    <form
                        style="display: flex; align-items: center; justify-content: flex-start; padding-left: 16px; padding-right: 16px; gap: 16px;"
                        [formGroup]="formChartFilters">
                        <app-checkbox-container>
                            <label style="margin-right: 8px; font-size: 10px;">Original data</label>
                            <input type="checkbox" formControlName="original">
                        </app-checkbox-container>
                        <app-checkbox-container>
                            <label style="margin-right: 8px; font-size: 10px">Preprocessed start</label>
                            <input type="checkbox" formControlName="preprocessedBeginning">
                        </app-checkbox-container>
                        <app-checkbox-container>
                            <label style="margin-right: 8px; font-size: 10px">Prepocessed end</label>
                            <input type="checkbox" formControlName="preprocessedEnd">
                        </app-checkbox-container>
                        <app-checkbox-container>
                            <label style="margin-right: 8px; font-size: 10px">Test prediction</label>
                            <input type="checkbox" formControlName="predictionTest">
                        </app-checkbox-container>
                        <app-checkbox-container>
                            <label style="margin-right: 8px; font-size: 10px">Future prediction</label>
                            <input type="checkbox" formControlName="predictionFuture">
                        </app-checkbox-container>
                    </form>
                </div>
                <div end style="display: flex; align-items: center; justify-content: flex-end; padding-left: 16px; padding-right: 16px; gap: 8px; min-width: 200px;" *ngIf="!simulationStarted && predictions.size > 0">
                    <span style="font-size: 10px;">View simulation</span>
                    <app-button-icon icon="fa fa-chart-line" color="normal" (click)="onViewSimulation()"></app-button-icon>
                </div>
            </app-toolbar>
            <div class="output-container" *ngIf="predictions.size > 0">
                <div class="item" *ngFor="let prediction of predictions.get(currentPredictionIndex)">
                    <app-prediction-chart [prediction]="prediction" [chartFilters]="formChartFilters.value">
                    </app-prediction-chart>
                </div>
            </div>
            <div *ngIf="predictions.size < 1 && !simulationStarted"
                style="height: calc(100% - 49px - 49px); display: flex; justify-content: center; align-items: center; color: #555555">
                No predictions.
            </div>

            <div *ngIf="predictions.size < 1 && simulationStarted"
                style="height: calc(100% - 49px - 49px); display: flex; justify-content: center; align-items: center; color: #555555">
                <app-loading-circle></app-loading-circle>
            </div>
        </div>
    </form>

    <app-toolbar class="border-top">
        <div start style="display: flex; gap: 8px; align-items: center; padding-left: 16px;">
            <i class="fa fa-circle-info"></i>
            <span>{{ statusText }}</span>
        </div>
    </app-toolbar>
</div>
