.container {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    position: relative;

    .progress-container {
        background: var(--color-foreground);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);

        .progress {
            background-color: var(--color-primary);
            border-radius: var(--border-radius);
            height: 100%;
            transition: var(--transition);
        }
    }

    .percentage {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        text-align: center;
    }
}