.configurations-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.configuration-table{
  width: 90%;
}

.centered-column{
  text-align: center !important;
}

:host ::ng-deep .mat-sort-header:not(:first-child) > .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.right-aligned-column{
  text-align: right !important;
}

.table-header{
  background-color: #bdbdbd21;
}