@import '../../../../assets/css/formStyle.css';
.paper-wrapper {
  width: 100%;
  height: 100%;
}

.joint-paper {
  position: relative;
  margin-right: 0;
  border: 3px solid #cffdcf70;
  border-radius: 1%;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.latency-input{
  flex: 1;
}

.input-size{
  width: 125px;
}

.button-size{
  width: 125px;
}

.actions .mat-form-field .mat-form-field-wrapper{
  padding: 0 !important;
}

.connection-button, .connection-input{
  flex: 1;
  display: flex;
}

.connection-button{
  margin-right: 0.25rem;
}

.connection-input{
  margin-left: 0.25rem;
}

.space-top{
  margin-top:0.5rem
}

.header{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.parent-conn-btn{
  background-color: #ffa500d4;
}

.simple-conn-btn{
  background-color: #ccc;
}

.customer-snack-bar-panel button{
  color: red;
}

.slider-container{
  display: flex;
  justify-content: center;
}

.slider{
  width: 250px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

.map {
  height: 600px;
  width: 1100px;
  padding: 0;
  float: left;
}

.table{
  border: 1px solid black;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}

.form{
  display: ruby-text;
  margin-top: 0.25rem;
}

.backButton{
  margin-right: 0.25rem;
}

#tableNodes{
  height: auto;
  width: auto;
  display: inline-block;
}
#tableConnections{
  height: auto;
  width: auto;
  display:inline-block; 
  position: absolute;
}