.header-title{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header-toolbar{
  background-color:#43a825ed;
  height: 6%;
  min-height: 40px;
  border-width: 0 0 5px 0;
  border-bottom-style: solid;
  border-image: linear-gradient(10deg,#ffffff, #ff0000,#ffffff) 30 stretch;
}

.header-with-side-nav{
  margin-left: 150px;
}

.header-without-side-nav{
  margin-right:40px
}

.github-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.github-link{
  color: white;
  font-weight: 500;
}