{
  "name" : "App-1921",
  "type" : "dummy",

  "energy" : 0.5,
  "price" : 0.4,
  "latency" : 0.7,
  "bandwidth" : 0.7,

  "components" : [ {
    "id" : "1",
    "requirements" : {
      "cpu" : 5,
      "storage" : 4294967296,
      "memory" : 6442450944,
      "location" : "EU",
      "provider": "AWS",
      "edge" : false
    },
    "properties" : {
      "kind" : "server",
      "image" : 536870912
    }
  }, {
    "id" : "2",
    "requirements" : {
      "cpu" : 4,
      "memory" : 4294967296,
      "location" : "EU",
      "edge" : false
    },
    "properties" : {
      "kind" : "server",
      "image" : 536870912
    }
  }, {
    "id" : "3",
    "requirements" : {
      "cpu" : 2,
      "memory" : 4294967296,
      "storage" : 5368709120,
      "provider" : "Azure",
      "edge" : false
    },
    "properties" : {
      "kind" : "server",
      "image" : 1073741824
    }
  } ]
}