{
  "name": "UNC-1",
  "type": "noise-classification",

  "energy": 0.0,
  "price": 0.0,
  "latency": 1.0,
  "bandwidth": 0.0,

  "components": [
    {
      "id": "1",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": false
      }
    },
    {
      "id": "2",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": false
      }
    },
    {
      "id": "3",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": false
      }
    },
    {
      "id": "4",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": false
      }
    },
    {
      "id": "5",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": false
      }
    },
    {
      "id": "6",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": true
      }
    },
    {
      "id": "7",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": true
      }
    },
    {
      "id": "8",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": true
      }
    },
    {
      "id": "9",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": true
      }
    },
    {
      "id": "10",
      "requirements": {
        "cpu": 4,
        "memory": 4294967296,
        "edge": true
      },
      "properties": {
        "kind": "noise-sensor",
        "image": "2147483648",
        "inside": false,
        "sun": true
      }
    },
    {
      "id": "11",
      "requirements": {
        "cpu" : "4",
        "memory" : "8589934592",
        "storage": "274877906944"
      },
      "properties": {
        "kind": "remote-server",
        "image": "2147483648"
      }
    }
  ]
}
