.header{
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.title{
  flex: 1;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.title-text{
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.instance-card {
  margin: 1rem;
  display: block;
}

.instance-card.mat-card {
  padding: 16px 16px 0 16px;
}

.actions{
  text-align: center;
}

.input-size-min {
  width: 150px;
  height: 50px;
}

.double-item-row{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center center;
  align-items: center;
  margin: 0.5rem 0;
}

.double-item-row .mat-form-field {
  padding: 0 0.5rem;
}

.centered-input{
  text-align: center;
  margin-bottom: 0.5rem;
}

.space-top{
  margin-top: 0.5rem;
}

@media screen and (max-width: 350px) {
  .input-size-min {
    width: 125px;
  }
}

#defaultValueBtn {
  margin: 2%;
}
