.loader {
    border: 5px solid var(--color-foreground);
    border-radius: 50%;
    border-top: 5px solid var(--color-primary);
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}