.instance-container{
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
    width:auto;
    position: relative;
  }
  
  .helper{
    display: inline-block;
    flex-wrap: wrap;
    margin: 3rem 15% 0 15%;
    margin: 1rem 7rem 1rem 3rem;
    width:40%;
  }

  .plus-wrapper{
    width: 100px;
    height: 36px;
    align-self:flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #cccccc3b;
    margin: 0.5rem;
  }
  
  .plus-wrapper:hover{
    background-color: #33c5423b;
  }
  
  .plus-icon{
    opacity: 0.2;
  }
  
  .main-actions{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  