@import '../../../../assets/css/formStyle.css';

.margin-around {
  margin: 25px;
}

.center {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.actions{
  display: flex;
  justify-content: space-between;
}
